version: "3.9"

services:
  postgres:
    image: postgres
    container_name: postgres-db

    ports:
      - "5432:5432"

    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: agdata_db

    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
